# Enable Rewrite Engine
RewriteEngine On

# URL Rewriting
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Block Access to .env File
<Files .env>
    Order allow,deny
    Deny from all
</Files>

