# Block Access to .env File
<Files .env>
    Order allow,deny
    Deny from all
</Files>

# Disable Directory Listing
Options -Indexes

# Redirect HTTPS to HTTP for Development Environment Only
RewriteEngine On
RewriteCond %{HTTP_HOST} ^dev\.example\.com$ [OR]
RewriteCond %{REMOTE_ADDR} ^192\.168\.1\.100$
RewriteCond %{HTTPS} on
RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


# Security Headers
Header always append X-Frame-Options SAMEORIGIN
Header set X-Content-Type-Options nosniff
Header set X-XSS-Protection "1; mode=block"
